<!DOCTYPE html>
<html>
    <head>
        <title>Division</title>
        <meta charset="utf-8">
        <style>
            h1{
                padding: 35px;
                font-size:40px;
                font-family: serif;
                text-align: center;
                color: white;
                
            }
            table,td,tr{
                padding: 10px;
                align-content: center;
                font-size:16px;
                text-align: center;
                color: white;

            }
            table{
                
                background-color: rgb(252, 184, 250);
            }
            
            .middle{
                margin-left: auto;
                margin-right: auto;
            }
            body{
                background-color: bisque;
                background-size: cover;
    
            }
            


        </style>
    </head>
    <body>
        <h1 style="color:black;">Login form</h1>
        <form action="/loginsubmit" method="get">
            <table class="middle" >
            <tr><td><input type="tel" placeholder="email address" name="email" style="padding: 10px;"></td></tr>
            <tr><td><input type="password" placeholder=" Password"  name="password"style="padding: 10px;"></td></tr>
            <tr><td><p><a href="#">forgot Password</a></p></td></tr>
        </table>
        <div style="text-align:center;padding: 25px; margin: 20px;"><input type="submit" value="Submit"></a></div>
       
        </form>
    </body>
</html>