<!DOCTYPE html>
<html>
    <head>
        <title>Division</title>
        <meta charset="utf-8">
        <style>
            h1{
                padding: 30px;
                font-size:35px;
                font-family: serif;
                text-align: center;
                color: white;
                
            }
            table,td,tr{
                padding: 10px;
                align-content: center;
               font-size: large;
                text-align: center;

            }
            table{
                
                background-color: blue;
            }
            
            .middle{
                margin-left: auto;
                margin-right: auto;
            }
            body{
                background-image:url("blurred-background-4.jpg");
                background-size: cover;
    
            }


        </style>
    </head>
    <body>
        <h1 style="color:black;">
            Sign in form
        </h1>
            <table class="middle" >
                <form action="/signinsubmit" method="get">
            <tr><td><input type="text" placeholder="Name" name="name" style="padding: 10px;"></td></tr>
            <tr><td><input type="tel" placeholder="email address" name="email" style="padding: 10px;"></td></tr>
            <tr><td><input type="password" placeholder=" Password" name="pwd"style="padding: 10px;"></td></tr>
            <tr><td><input type="password" placeholder="Confirm password" style="padding: 10px;"></td></tr>
            <tr><td style="color:white;">
        </table>
        <div style="text-align:center;padding: 25px; margin: 20px;"><input type="submit" value="Submit"></a></div>
        <p style="text-align:center;padding: 25px; margin: 20px">
            Don't have an account? <a href="login.ejs">log in</a>
          </p>

    </body>
</html>